.lightbox{
  background: rgba($primary, .25);
  border: 1px solid rgba($secondary, .25);
}

.lazyload,
.lazyloading {
  opacity: 0;
  box-sizing: border-box;
}

.cooked img {
    transition: opacity .4s .75s ease;
}
